<nb-card>
    <nb-card-header>
        LOGIN
    </nb-card-header>
    <nb-card-body>
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="input-group">
                <input nbInput type="email"
                       formControlName="email">
            </div>
            <div class="input-group">
                <input nbInput type="password"
                       formControlName="password">
            </div>
            <div class="input-group">
                <input nbButton type="submit" value="LOGIN"
                       [disabled]="loginForm.invalid">
            </div>
        </form>
    </nb-card-body>
</nb-card>