<nb-card>
    <nb-card-body>
        <form [formGroup]="animalForm" (ngSubmit)="create()">
            <div class="input-group">
                <input type="text" formControlName="name" nbInput>
            </div>
            <div class="input-group">
                <input type="submit" value="Creer" [disabled]="animalForm.invalid"
                       nbButton>
            </div>
        </form>
    </nb-card-body>
</nb-card>
