<nb-layout>

  <nb-layout-header fixed>
    <nb-actions>
      <nb-action icon="menu"
                 (click)="collapse()"></nb-action>
    </nb-actions>
    <nb-actions *ngIf="!isConnected">
      <nb-action icon="person-add"
                 routerLink="/auth/register"></nb-action>
      <nb-action icon="log-in"
                 routerLink="/auth/login"></nb-action>
    </nb-actions>
    <nb-actions *ngIf="isConnected">
      <nb-action icon="power" (click)="logout()"></nb-action>
    </nb-actions>
  </nb-layout-header>
  <nb-sidebar>
    <nb-menu [items]="items"></nb-menu>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
