<div style="display: flex;">
    <div style="width: 50%;">
        <nb-card>
            <nb-card-body>
                <nb-list>
                    <nb-list-item *ngFor="let item of model">
                        <p>{{item.name}}</p>
                        <nb-icon icon="trash"
                                 (click)="delete(item)"></nb-icon>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
    <div style="width: 50%;">
        <!-- <app-animal-add (onAdd)="add($event)"></app-animal-add> -->
        <app-animal-add></app-animal-add>
    </div>
</div>
