<nb-card>
    <nb-card-header>
        Loading Please Wait ...
    </nb-card-header>
    <nb-card-body>
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
    </nb-card-body>
</nb-card>
